body {
    background: linear-gradient(to right, hwb(263 2% 25%), #ffffff);
    color: #fff; 
    font-family: 'Arial', sans-serif; 
    text-align: center;
    margin-top: 100px;
}

h1, h2 {
    margin-bottom: 20px; 
}

.container {
    background-color: rgba(255, 255, 255, 0.973); 
    color: black;
    border-radius: 15px; 
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    text-align: center;
    margin-top: 200px;
}

label {
    font-weight: bold; 
}

button {
    background-color: hwb(263 2% 25%); 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-weight: bold; 
    transition: background-color 0.3s; 
    text-align: center;
}

button:hover {
    background-color: #47019ccb; 
}

footer {
    margin-top: 40px; 
    text-align: center; 
    font-size: 14px; 
}

@media (max-width: 576px) {
    .container {
        padding: 20px; 
    }
}
